.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbarr{
  margin-left: 100px !important;
}
.studentformdiv{
  height: 450px;
  width: 300px;
  margin: auto;
  margin-top: 100px;
  border-width: 5px;
  padding: 20px;
  border-style: solid;
  border-color: #61dafb;
}
.studentformbutton{
  margin-left: 30px;
  width: 200px;
  height:  40px;
  margin-top: 15px;
  
}
.formcss{
  border-radius: 2px!important;
  border-width: 10px!important;
}
.divexample{
  border-radius: 10px;
  height: 100px;
  width: 100px;
  border-color: black;
  border-width: 10px!important;
  border-style: solid;
}
.formheading{
 font-size: 29px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
